body {
background-color: #white;
background-image: url("fond.jpg");
background-attachment: scroll;
background-position: 0px 0px;
background-repeat : repeat; 
}
#main {
width:895px;
height: 70px;

background-color: black;
border : medium dashed white ;
border-radius: 10px 10px 10px 10px;
position : relative;
top: 0px;
left : 0px;
}

#main2
{
width:1500px;
height: 760px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: 5px;
	left : 0;

}

#main3
{
width:2000px;
height: 1120px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: 5px;
	left : 0;

}

#main4
{
width:2000px;
height: 1200px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: 5px;
	left : 0;

}

#main5
{
width:2000px;
height: 310px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: 5px;
	left : 0;

}

#main6
{
width:2000px;
height: 1000px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: 5px;
	left : 0;

}

#main7
{
width:1000px;
height: 269px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: 0px;
	left : 0px;

}
#main8	
{
width:895px;
height: 925px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
position : relative;
top: -7px;
left : 0px;

}
#main18	
{
width:895px;
height: 1870px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
position : relative;
top: -7px;
left : 0px;

}
#main9
{
height: 185px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: 0px;
	left : 0px;
}
#main10
{
height: 1820px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: -15px;
	left : 0px;
}
#main11
{
width: 895px;
height: 370px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: 0px;
	left : 0px;
}
#main12
{
	width:895px;
height: 6650px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: 0px;
	left : 0px;
}
#main13
{
	width:895px;
height: 1450px;

background-color: black;
border : medium solid white ;
border-radius: 10px 10px 10px 10px;
float: center;
	position : relative;
	top: 0px;
	left : 0px;
}
#maintache
{
width:895px;
height: 80px;

background-color: black;
border : medium solid red ;
border-radius: 10px 10px 10px 10px;
float: center;
position : relative;
top: 10px;
left : 0;

}

.barre{
	position: absolute;
	top: 25px;
	left: 10px;
	}

#main_page
{
    width: 900px;
    margin: auto;
}

#video {
	
	margin-left: auto;
    margin-right: auto;
	display: block
	
}

#image1 {
	
	position : relative;
	top: 10px;
	left : -30px;
	
}

#image2 {
	
	position : relative;
	top: -530px;
	left : -34px;
}

#image3 {
	
	position : relative;
	top: 215px;
	left : -490px;

}

#image4 {
	
	position : relative;
	top: 0px;
	left :-220px;

}

#pitch {
	
	position : relative;
	top: 75px;

}

h1 {
	font: 400 50px Courier, monospace;
	color : white;
	position : relative;
	top: -30px;
	left : 0px;
	
	}
h2 {
	font: 40px Impact, fantasy;
		color : white;
		float: left;
	position : relative;
	top: -20px;
	left : 0px;
	margin-left : 10px;
	}

h3 {
	font:  20px Times, Times New Roman, serif;
	color : #959594;
	float: left;
	position : relative;
	top: 0px;
	left : 0px;
	margin-left : 10px;
	}	

h4 {
	font:  28px Times, Times New Roman, serif;
	color : #959594;
	float: left;
	position : relative;
	top: 0px;
	left : 0px;
	margin-left : 10px;
	}

h5 {
	font:  18px Times, Times New Roman, serif;
	color : #B3B3AA;
	float: left;
	position : relative;
	top: 0px;
	left : 0px;
	margin-left : 10px;
	}

h6 {
	font:  20px Times, Times New Roman, serif;
	color : #D8D8CD;
	float: left;
	position : relative;
	top: -100px;
	left : 0px;
	margin-left : 20px;
	}

h7 {
	font:  25px Trebuchet MS, sans-serif	;
	color : white;
	float: left;
	position : relative;
	top: 0px;
	left : 0px;
	margin-left : 15px;
	margin-right : 15px;
	text-align: justify;
	}
	
h8 {
	font:  30px Trebuchet MS, sans-serif	;
	color : white;
	float: left;
	position : relative;
	top: 0px;
	left : 230px;
	margin-left : 15px;
	margin-right : 15px;
	margin-top : 15px;
	text-align: center;
	}

h9 {
	font:  30px Trebuchet MS, sans-serif	;
	color : white;
	float: left;
	position : relative;
	top: 0px;
	margin-left : 15px;
	margin-right : 15px;
	margin-top : 15px;
	text-align: center;
	}

description {
	font:  15px Trebuchet MS, sans-serif	;
	color : white;
	float: left;
	position : relative;
	top: 40px;
	left: 330px;
	font-style: italic; 
	}
descriptionb {
	font:  15px Trebuchet MS, sans-serif	;
	color : white;
	float: left;
	position : relative;
	top: 40px;
	left: 370px;
	font-style: italic; 
	}
description3 {
	font:  15px Trebuchet MS, sans-serif	;
	color : white;
	float: left;
	position : relative;
	top: 40px;
	left: 220px;
	font-style: italic; 
	}
	description4 {
	font:  15px Trebuchet MS, sans-serif	;
	color : white;
	float: left;
	position : relative;
	top: 40px;
	left: 250px;
	font-style: italic; 
	}
description2 {
	font:  15px Trebuchet MS, sans-serif	;
	color : white;
	float: left;
	position : relative;
	top: 40px;
	left: 170px;
	font-style: italic; 
	}

p {
	text-align : left;
	margin-left : 10px;
	margin-right : 10px;
	font: 25px Georgia, sans-serif;
		color : white;
	text-align: justify;
	float: left;
	position : relative;
	top: -30px;
	left : 0px;
	}



.sql {

	position : relative;
	top: 20px;
	left : -295px;
	}

.java {

	position : relative;
	top: -535px;
	left : -490px;
	}

.office {

	position : relative;
	top: -580px;
	left : 5px;
	}

.fr {

	position : relative;
	top: -500px;
	left : -480px;
	}

.eng {

	position : relative;
	top: -740px;
	left : 10px;
	}

.titre {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: 40px;
	left :-270px;
	margin-left : 10px;
}
	
.title1 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: 40px;
	left :-270px;
	margin-left : 10px;
}

.title2 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -85px;
	left :-340px;
	margin-left : 10px;
}

.title3 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -580px;
	left :-340px;
	margin-left : 10px;
}

.title4 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: 35px;
	left :-385px;
	margin-left : 10px;
}

.title5 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -35px;
	left :-640px;
	margin-left : 10px;
}

.title6 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -110px;
	left :10px;
	margin-left : 10px;
}

.info1 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -60px;
	left :-308px;
	margin-left : 10px;
}

.voyage1 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -100px;
	left :-640px;
	margin-left : 10px;
}

.voyage2 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -160px;
	left :0px;
	margin-left : 10px;
}

.voyage3 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -115px;
	left :-400px;
	margin-left : 10px;
}

.voyage4 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -70px;
	left :-513px;
	margin-left : 10px;
}

.end1 {
	font:  25px Times, Times New Roman, serif;
	position : relative;
	top: -175px;
	left :340px;
	color : #CFCECE;
	border : solid white; 
}

.end2 {
	font:  25px Times, Times New Roman, serif;
	text-align : center;
	position : relative;
	top: -605px;
	left : 120px;
	color : #CFCECE;
	border : solid white;
}

.end3 {
	font:  25px Times, Times New Roman, serif;
	text-align : center;
	position : relative;
	top: -603px;
	left :-560px;
	color : #CFCECE;
	border : solid white;
}

.end4 {
	font:  25px Times, Times New Roman, serif;
	text-align : center;
	position : relative;
	top: 170px;
	left :-300px;
	color : #CFCECE;
	border : solid white;
}
.end5 {
	font:  25px Times, Times New Roman, serif;
	position : relative;
	top: 50px;
	left :380px;
	color : #CFCECE;
	border : solid white; 
}


.date {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: 40px;
	left :-460px;
	margin-left : 10px;
}

.date2 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -105px;
	left :-665px;
	margin-left : 10px;
}

.date3 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -160px;
	left :10px;
	margin-left : 10px;
}

.date4 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -245px;
	left :10px;
	margin-left : 10px;
}

.iut {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -145px;
	left :0px;
	margin-left : 18px;
}

.xp1 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -120px;
	left :-340px;
	margin-left : 18px;
}

.xp2 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -205px;
	left :0px;
	margin-left : 18px;
}

.etudes {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -180px;
	left :17px;
	margin-left : 8px;
}
.etudes2 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -180px;
	left :0x;
	margin-left : 8px;
}

.text1 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -615px;
	left :8px;
	margin-left : 8px;
}

.text2 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -545px;
	left :-490px;
	margin-left : 8px;
}

.text3 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -575px;
	left :10px;
	margin-left : 8px;
}

.text4 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -650px;
	left :10px;
	margin-left : 8px;
}

.text5 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -440px;
	left :-605px;
	margin-left : 8px;
}

.text6 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -680px;
	left :-105px;
	margin-left : 8px;
}

.text7 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: 5px;
	left :-200px;
	margin-left : 8px;
}

.pro1 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -25px;
	left : 0px;
	margin-left : 8px;
}

.pro2 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -105px;
	left : 0px;
	margin-left : 8px;
}

.mot {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: 50px;
	left : -550px;
	margin-left : 8px;
}

.ada {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: 40px;
	left : -640px;
	margin-left : 8px;
}

.qua1 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: 10px;
	left :-210px;
	margin-left : 8px;
}

.qua2 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -20px;
	left :5px;
	margin-left : 8px;
}

.qua3 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: 5px;
	left :-392px;
	margin-left : 8px;
}

.qua4 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -30px;
	left :-0px;
	margin-left : 8px;
}

.stage1 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -148px;
	left :-195px;
	margin-left : 8px;
}

.stage2 {
	text-align : left;
	padding-left : 0 px;
	position : relative;
	top: -230px;
	left :-195px;
	margin-left : 8px;
}


header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}	

corptexte
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}	

barretaches 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

test 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

a:link {
	color:white; 
	text-decoration:none;
	}

a:visited {
	color:white;
	text-decoration:none;
	}
	
a:hover {
	color:#CFCECE; 
	text-decoration: underline;
	
	}
	
#cv1 {
	float: right;
	position : relative;
	top: -115px;
	left : 0px;
}
#cv2 {
	float: left;
	position : relative;
	top: -115px;
	right : 0px;
}


#tete {
	float: left;
	position : relative;
	top: -15px;
	right : 20px;
}	
#fox {
	float: center;
	position : relative;
	top: 30px;
	left: 305px;
}
#avion {
	float: center;
	position : relative;
	top: 30px;
	left: 70px;
}
#result {
	float: center;
	position : relative;
	top: 30px;
	left: 75px;
}
#goals {
	float: center;
	position : relative;
	top: 0px;
	left: 60px;
}
#sd {
	float: center;
	position : relative;
	top: 30px;
	left: 170px;
}
#i_flag {
	float: center;
	position : relative;
	top: -40px;
	left: 530px;
}	
#metrics {
	float: center;
	position : relative;
	top: 30px;
	left: 230px;
}
#linke {
	float: center;
	position : relative;
	top: 233px;
	left: -445px;
}
#chris {
	float: center;
	position : relative;
	top: 20px;
}
#interview {
	float: center;
	position : relative;
	top: 20px;
	left: 25px;
}
#cv_iframe {
	float: center;
	position : relative;
	top: 30px;
	left: 45px;
}
#cliffs {
	float: center;
	position : relative;
	top: 30px;
	left: 210px;
}	



















